/* place all content middle of screen */
html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
}
.popup-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}